@CHARSET "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}

.team-section{
    overflow: hidden;
    text-align: center;
   
    padding: 60px;   
}
.team-section h1{
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #000;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background:#db0a5b;
    margin-bottom: 40px;   
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 200px;
    hight:200px;
    overflow: hidden;
    background: #fff;
    border-radius:50%;
    border-color: 3px solid #fff;
}
.ps a img{
    width: 80%;
    filter: none;
    transition: 0.4s all;
}
.ps a:hover > img{
   
    filter: grayscale(100%);
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color:white;
    text-align: justify;
    height:0;
    overflow: hidden;
}
.section:target{
    height:auto;
}
.name{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}



